
header {
    height: 150px;
    text-align: center;
    padding: 100px;
    background: $img-1;
    @include background-style;
    color: $color-white;
    margin-top: 60px;
  
    .sign-up {
      @include sign-up-style;
    }
  
    input {
      @include input-style;
    }
  
    button {
      background-color: $color-dodgerblue; 
      color: $color-white;
      @include button-style;
      text-align: center;
      width: 130px;
      height: 25%;
    }
  }