$img-1: url("../images/bg-masthead.jpg");
$img-2: url("../images/bg-showcase-1.jpg");
$img-3: url("../images/bg-showcase-2.jpg");
$img-4: url("../images/bg-showcase-3.jpg");
$img-5: url("../images/testimonials-1.jpg");
$img-6: url("../images/testimonials-2.jpg");
$img-7: url("../images/testimonials-3.jpg");

$background-1: rgb(244, 241, 241);
$color-dodgerblue: dodgerblue;
$color-white: white;
$color-gray: gray;